* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

.form{
    padding: 20px 30px;
    background-color: #ffffff;
    border: 1px solid #41414190;
    border-radius: 6px;
    box-shadow: -1px 1px 8px #41414150;
}

.form h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 18px;
    line-height: 2;
    border-bottom: 1px solid #41414150;
}

.form input {
    width: 200px;
    font-size: 18px;
    padding: 4px 10px;
    border: 2px solid #272727;
    outline: none;
    border-radius: 4px;
}

.form input:focus {
    border: 2px solid #1257dc;
}

.form textarea {
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    font-size: 18px;
    padding: 4px 10px;
    border: 2px solid #272727;
    outline: none;
    border-radius: 4px;
}

.form .gonder-btn {
    height: 36px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    letter-spacing: 0.6px;
    background-color: #1257dc;
    color: #fafafa;
}

.form .gonder-btn:hover {
    background-color: #0d42ac;
}